body {
    user-select: none;
    margin: 0;
    background-color: black;
}

#viewport {
    position: absolute;
    /*left: 0px;
    top: 15px;
    width: 565px;
    height: 1008px; */
    box-sizing: border-box;
    border-radius: 25px;
    overflow: hidden;
    background-color: aliceblue;
    border: none;
}