[Desktop Entry]
Name=dieKlinge GUI
Comment=Super Cool App that does everything
Exec=dieklingel.core
Icon=/snap/dieklingel/current/meta/gui/dieklingel-core.png
Terminal=false
Type=Application
Categories=Education;
X-GNOME-Autostart-enabled=true
