[Desktop Entry]
Name=dieKlinge RTC
Comment=Super Cool App that does everything
Exec=dieklingel-core.rtc
Icon=/snap/dieklingel-core/current/meta/gui/dieklingel-core.png
Terminal=false
Type=Application
Categories=Education;
