[Unit]
Description=dieklingel-gui
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
Environment="DISPLAY=:0"
ExecStart=dieklingel

[Install]
WantedBy=multi-user.target
