name: "Build for Linux (Ubuntu)"
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  clang-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      
      - name: Install dependencies
        run: |
          sudo apt-get update && \
          sudo make deps:dev

      - name: Check formating
        run: |
          make format:check

  linux-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      
      - name: Install dependencies
        run: |
          sudo apt-get update && \
          sudo make deps:build

      - name: Build the core
        run: |
          make build
